astroid==2.3.2
certifi==2019.11.28
chardet==3.0.4
future==0.18.1
idna==2.8
isort==4.3.21
lazy-object-proxy==1.4.2
lxml==4.4.1
mccabe==0.6.1
pylint==2.4.3
requests==2.22.0
six==1.12.0
typed-ast==1.4.0
urllib3==1.25.8
virtualenv==16.7.8
wrapt==1.11.2
